@using Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">    <link rel="stylesheet" href="~/css/app.css" asp-append-version="true">
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200&family=Gudea:wght@400;700&family=IBM+Plex+Sans:wght@300;400;500&family=Lato:wght@300;400;700&family=Open+Sans:wght@300;400;500&family=Poppins:wght@300;500;600;700;800&family=Roboto:wght@300;400;500&family=Rajdhani:wght@300;400;600;700&display=swap" rel="stylesheet"> 
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    @* <script src="/js/layut.js"></script> *@
</head>
<body class="bg-slate-100 overflow-x-hidden">
    <div class="header h-[3.5rem] w-[100vw] flex flex-row py-[0.5rem] px-4 justify-between z-10 fixed transition duration-100 ease">
        <div class="flex flex-row cursor-pointer pl-4">
            <img src="/images/logo4.svg" class="w-[48px]">
            <h1 class="text-[#f1f1f1] font-medium text-2xl font-roboto p-[0.5rem] transition duration-300 ease-in-out leading-6">Pro Collab</h1>
        </div>
        <div class="flex flex-row gap-6 relative menu-container w-3/5 justify-center">
            <div class="begin py-[0.5rem] relative cursor-pointer getstarted w-[8rem]">
                <span class="circle"></span>
                <span class="chevron-right"></span>
                @Html.ActionLink("Get Started", "Lobby", "Main", 
                    htmlAttributes: new { @class="text-[#fff] pl-1 font-small text-md font-roboto cursor-pointer getstarted__link" } )
            </div>
            <div class="flex flex-row gap-8 relative links__container w-2/5 justify-center pr-4">
                <span class="line absolute h-1 w-0 bg-slate-200 top-11 left-0 menu-transition"></span>
                @Html.ActionLink("Contact", "Lobby", "Main", 
                    htmlAttributes: new { @class="py-[0.5rem] px-3 text-[#fff] font-small text-md font-roboto cursor-pointer transition duration-300 ease-in-out" } )
                @Html.ActionLink("Features", "Lobby", "Main", 
                    htmlAttributes: new { @class="py-[0.5rem] px-3 text-[#fff] font-small text-md font-roboto cursor-pointer transition duration-300 ease-in-out" } )
                @Html.ActionLink("About", "Lobby", "Main", 
                    htmlAttributes: new { @class="py-[0.5rem] px-3 text-[#fff] font-small text-md font-roboto cursor-pointer transition duration-300 ease-in-out" } )
            </div>
        </div>
        <div class="flex flex-row cursor-pointer gap-4 pr-2">
            <button onclick="window.location.href = '/signup'" class="text-zinc-200 font-medium text-md font-roboto bg-[#2C85EF] px-5 rounded-3xl hover:bg-[#0067b3] transition duration-300 ease-in-out">Sign Up</button>
            <button onclick="window.location.href = '/login'" class="text-zinc-200 font-medium text-md font-roboto bg-[#2C85EF] px-5 rounded-3xl hover:bg-[#0067b3] transition duration-300 ease-in-out">Login</button>
        </div>
    </div>
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
    <script>
        $(function() {
            window.onscroll = function() {
                if (window.pageYOffset !== 0) $(".header").toggleClass("sticky__header", true)
                else $(".header").toggleClass("sticky__header", false)
            }
            $(".links__container a").each(function(index, elem) {
                $(elem).on("mouseenter", function() {
                    $(".line").css({
                        opacity: 1, 
                        width: elem.offsetWidth + 13, 
                        left: elem.offsetLeft - 6
                    })
                })
            })
            $(".menu-container").on("mouseleave", function() {
                $(".line").css({opacity: 0})
            })
        })
    </script>
</body>
</html>