@using Microsoft.AspNetCore.Mvc.TagHelpers
@model mvc.Models.User.Request.Registration

@***REMOVED***
    Layout = null;
    ViewData["Title"] = "Register";
***REMOVED***

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/app.css" asp-append-version="true">
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200&family=Gudea:wght@400;700&family=IBM+Plex+Sans:wght@300;400;500&family=Lato:wght@300;400;700&family=Open+Sans:wght@300;400;500&family=Poppins:wght@300;500;600;700;800&family=Roboto:wght@300;400;500&display=swap" rel="stylesheet"> 
</head>
<body class="bg-slate-300 overflow-x-hidden">
<div class="absolute left-0 right-0" style="font-family:'Lato',sans-serif;">
    <div class="flex flex-col bg-slate-200 mx-auto md:p-12 my-8 rounded-lg shadow-2xl md-desk:w-[75vw] phone:w-[85vw] sm-tablet:w-[75vw] md-tablet:w-[70vw] lg-tablet:w-[50rem] sm-desk:w-[80vw] ">
        <div class="text-center justify-self-center pt-8">
            <h3 class="font-bold text-2xl text-slate-600">Welcome to Startup</h3>
            <p class="text-gray-600 py-2 px-6 text-center">All of your work in one place: Tasks, Docs, Chat, Goals, & more.</p>
        </div>
        <div class="flex flex-row overflow-visible">
            <div class="lg-tablet:w-[45%] sm-desk:w-[42%] md-desk:w-[42%] pl-10 pb-10 pt-5 pr-10 md-tablet:w-full sm-tablet:w-full phone:w-full">
                <div>
                    @using (Html.BeginForm("Signup", "Login", FormMethod.Post, new
                    ***REMOVED***
                        @id = "form_register",
                        @class = "flex flex-col"
                ***REMOVED***)
                        )
                    ***REMOVED***
                        @Html.AntiForgeryToken()
                        <div id="usernameField_container" class="mb-6 rounded bg-slate-200 relative w-full">
                            @Html.LabelFor(x => x.Username, new ***REMOVED*** @class = "block text-gray-700 text-sm font-bold mb-2 ml-1" ***REMOVED***)
                            @Html.TextBoxFor(x => x.Username, new ***REMOVED*** @id = "username", @class = "focus:outline-none bg-slate-200 rounded w-full text-gray-700 border-b-4 border-gray-300 transition duration-500 px-3 pb-3" ***REMOVED***)
                        </div>
                        <div class="flex flex-row gap-6">
                            <div id="firstNameField_container" class="mb-6 pt-3 rounded bg-slate-200 relative w-full">
                                @Html.LabelFor(x => x.FirstName, new ***REMOVED*** @class = "block text-gray-700 text-sm font-bold mb-2 ml-1" ***REMOVED***)
                                @Html.TextBoxFor(x => x.FirstName, new ***REMOVED*** @id = "firstname", @class = "focus:outline-none bg-slate-200 rounded w-full text-gray-700 border-b-4 border-gray-300 transition duration-500 px-3 pb-3" ***REMOVED***)
                            </div>
                            <div id="lastNameField_container" class="mb-6 pt-3 rounded bg-slate-200 relative w-full">
                                @Html.LabelFor(x => x.LastName, new ***REMOVED*** @class = "block text-gray-700 text-sm font-bold mb-2 ml-1" ***REMOVED***)
                                @Html.TextBoxFor(x => x.LastName, new ***REMOVED*** @id = "lastname", @class = "focus:outline-none bg-slate-200 rounded w-full text-gray-700 border-b-4 border-gray-300 transition duration-500 px-3 pb-3" ***REMOVED***)
                            </div>
                        </div>
                        <div id="emailField_container" class="mb-6 pt-3 rounded bg-slate-200 relative">
                            @Html.LabelFor(x => x.Email, new ***REMOVED*** @class = "block text-gray-700 text-sm font-bold mb-2 ml-1" ***REMOVED***)
                            @Html.TextBoxFor(x => x.Email, new ***REMOVED*** @id = "email", @class = "focus:outline-none bg-slate-200 rounded w-full text-gray-700 border-b-4 border-gray-300 transition duration-500 px-3 pb-3" ***REMOVED***)
                        </div>
                        <div id="passwordField_container" class="mb-6 pt-3 pb-3 rounded bg-slate-200 relative">
                            @Html.LabelFor(x => x.Password, new ***REMOVED*** @class = "block text-gray-700 text-sm font-bold mb-2 ml-1" ***REMOVED***)
                            @Html.TextBoxFor(x => x.Password, new ***REMOVED*** @id = "password", @type = "password", @class = "focus:outline-none bg-slate-200 rounded w-full text-gray-700 border-b-4 border-gray-300 transition duration-500 px-3 pb-3" ***REMOVED***)
                        </div>
                        <div id="cpasswordField_container" class="mb-6 pt-3 pb-3 rounded bg-slate-200 relative">
                            @Html.LabelFor(x => x.ConfirmPassword, new ***REMOVED*** @class = "block text-gray-700 text-sm font-bold mb-2 ml-1" ***REMOVED***)
                            @Html.TextBoxFor(x => x.ConfirmPassword, new ***REMOVED*** @id = "cpassword", @type = "password", @class = "focus:outline-none bg-slate-200 rounded w-full text-gray-700 border-b-4 border-gray-300 transition duration-500 px-3 pb-3" ***REMOVED***)
                        </div>
                        <button id="submit" class="bg-slate-500 hover:bg-slate-600 text-white font-bold py-2 rounded shadow-lg hover:shadow-xl transition duration-200" type="submit">Sign Up</button>
                ***REMOVED***
                </div>
            </div>
            <div class="sm-desk:w-[58%] md-desk:w-[58%] lg-tablet:w-[55%] lg-tablet:flex sm-desk:flex md-desk:flex md-tablet:hidden sm-tablet:hidden phone:hidden">
                <img src="/images/devteam.svg">
            </div>
        </div>
    </div>

    <div class="max-w-lg mx-auto mb-4 flex justify-center text-slate-500">
        <a href="#" class="hover:underline">Contact</a>
        <span class="mx-3">•</span>
        <a href="#" class="hover:underline">Privacy</a>
    </div>
</div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/LoginFormValidation.js" ></script>
</body>
</html>